<div class="block">

  <% if show_page %>
    <h3 class="title is-6"><%= customer.name %></h3>
  <% else %>
    <h3 class="title is-6"><%= link_to customer.name, customer %></h3>
  <% end %>

  <p><span class="title is-6">username: </span><%= customer.username %></p>
  <p><span class="title is-6">address: </span><%= customer.address %></p>
  <p><span class="title is-6">province: </span><%= customer.province.name %></p>
  <p><span class="title is-6">salted password: </span><%= customer.password %></p>
  <p><span class="title is-6">salt: </span><%= rand(99999999999) %></p>

</div>