<%# display cart contents %>
<div class="block">
  <% if @cart_contents.empty?%>
    <p>No items in cart.</p>
  <% else %>
    <h3 class="title is-6">Shopping Cart:</h3>
    <ul>
      <% @cart_contents.each do |p| %>
        <li> <%= p.name %> - <%= number_to_currency p.price.to_i/100.0 %> each</li>
      <% end %>
    </ul>
  <% end %>
</div>

<%# debugging %>
<div class="block">
  <%# <%=debug session[:visit_count]%>
  <h3>Debug session[:cart]</h3>
  <%=debug session[:cart]%>
  <h3>Debug params</h3>
  <%= params %>
</div>