<div class="block">

    <%# product details %>
<<<<<<< HEAD
    <% if show_page %>
=======
    <% if name_is_link %>
>>>>>>> cf9f291e8c7b3d3928daa49f139d6df488c9c38e
      <h3 class="title is-6"><%= link_to product.name, product %></h3>
    <% else %>
      <h3 class="title is-6"><%= product.name %></h3>
    <% end %>

    <% if product.image.present? %>
        <%= image_tag product.image %>
    <% end %>
    <p><%= product.description %></p>
    <p>price: <%= number_to_currency product.price.to_i/100.0 %></p>

    <%# button %>
    <% if @cart_contents.include?(product) %>
      <div>
        <%= button_to "+", add_to_cart_path(product.id), method: :post %>
        <p>QTY: <%= session[:cart][product.id.to_s] %> </p>
        <%= button_to "-", decrement_from_cart_path(product.id), method: :delete %>
      </div>
      <p><%= button_to "remove from cart", remove_from_cart_path(product.id), method: :delete %></p>
    <% else %>
      <p><%= button_to "add to cart", add_to_cart_path(product.id), method: :post %></p>
    <% end %>

    <% if show_page %>
      <p><%= link_to "back", products_index_path %></p>
    <% end %>

</div>



