<h3 class="title is-4">Checkout</h3>

<%# cart contents %>
<%= render "cart_contents"%>

<%# tax selector %>
<%= form_with url: "determine_tax_path", method: :post do |form| %>
  <%= form.select :province, options_from_collection_for_select(Province.all, 'id', 'name'), include_blank: "select province" %>
  <%= form.submit "Calculate Tax" %>
<% end %>
<%# select_tag :province, options_from_collection_for_select(Province.all, 'id', 'name'), include_blank: "select province", :onchange => remote_function(:url => {:controller => 'controller', :action => 'action'}) %>

<div class="block">
  <p><%= params %></p>
  <pre><%# @products.inspect %></pre>
</div>

<% if params[:commit] == "Calculate Tax" %>
tax calculating...
<% end %>

<div class="block">
  <p><%= link_to "Log In", "/#" %></p>
  <p><%= link_to "Sign Up", "/#" %></p>
</div>

<%# shipping information %>
<%= render "shipping_info_form" %>