<h1 class="title is-3">Products Collection</h1>

<%# category filter %>
<div class="block">
  <p>Filter products by category:</p>
  <%= select_tag :category, options_from_collection_for_select(Category.all, 'id', 'name') %>
  <%# select_tag :category, options_from_collection_for_select(Category.all, 'name', 'name'), :onChange => filter_by_category() %>
  <nav class="navbar">
    <% Category.all.each do |c| %>
      <%= link_to c.name, "#", :class=>"navbar-item" %>
    <% end %>
  </nav>
</div>

<%# search form %>
<div class="block">
    <p>Search products:</p>
    <%= render "searchform" %>
</div>


<%# <p>session class: </p><%= session[:cart].class %>
<%# <p>Initialize session: </p><%= session[:cart] = {1 => 1, 2 => 2} %>
<%# <p>session[:cart].keys.class:</p><%= session[:cart].keys.class %>
<%# <p>session[:cart].keys.first.class:</p><%= session[:cart].keys.first.class %>
<%# <p>params[:id]:</p><%= params[:id] %>
<%# <p>Inspect session: </p><%= session[:cart].inspect %>
<%# <p>Session is empty?: </p><%= session[:cart].empty? %>
<%# <p>Load @cart_contents: </p><% @cart_contents = Product.find(session[:cart].keys) %>
<%# <p>@cart_contents is empty?: </p><%= @cart_contents.empty? %>
<%# <p>Inspect @cart_contents: </p><%= Product.find(session[:cart].keys).inspect %>


<%# display cart contents %>
<% unless @cart_contents.empty?%>
  <%= link_to "Checkout", checkout_path %>
  <%# button_to "Checkout", checkout_path, method: :post %>
<% end %>
<%= render "cart_contents"%>

<%# render @products %>
<%= render partial: 'product',
            collection: @products,
<<<<<<< HEAD
            locals: {show_page: false} %>
=======
            locals: {name_is_link: true} %>
>>>>>>> cf9f291e8c7b3d3928daa49f139d6df488c9c38e

<nav class="pagination">
  <p>
    <%= paginate @products %>
  </p>
</nav>