<h1 class="title is-3">Products Collection</h1>

<%# category filter %>
<div class="block">
  <p>Filter products by category:</p>
  <%= render "filterform" %>
</div>

<%# search form %>
<div class="block">
  <p>Search products:</p>
  <%= render "searchform" %>
</div>

<%# display cart contents %>
<%= render "cart_contents"%>

<div class="block">
  <% unless @cart_contents.empty?%>
    <p><%= link_to "Checkout", checkout_path %></p>
    <p><%# button_to "Checkout", checkout_path, method: :post %></p>
    <%# button_to "Clear Cart", clear_cart_path, method: :delete %>
    <%# button_to "Clear Cart", clear_cart_path, method: :post %>
    <p><%= link_to "Clear Cart", clear_cart_path %></p>
  <% end %>
</div>

<div class="columns is-multiline">
  <%# render @products %>
  <%= render partial: 'product',
              collection: @products,
              locals: {show_page: false} %>
</div>

<nav class="pagination is-rounded">
  <ul class="pagination-list">
    <%= paginate @products, :class => "title is-4 pagination-link "%>
  </ul>
</nav>
