<h1 class="title is-3">Products Collection</h1>

<%# category filter %>
<div class="block">
  <p>Filter products by category:</p>
  <%= render "filterform" %>
</div>

<%# search form %>
<div class="block">
  <p>Search products:</p>
  <%= render "searchform" %>
</div>


<%# <p>session class: </p><%= session[:cart].class %>
<%# <p>Initialize session: </p><%= session[:cart] = {1 => 1, 2 => 2} %>
<%# <p>session[:cart].keys.class:</p><%= session[:cart].keys.class %>
<%# <p>session[:cart].keys.first.class:</p><%= session[:cart].keys.first.class %>
<%# <p>params[:id]:</p><%= params[:id] %>
<%# <p>Inspect session: </p><%= session[:cart].inspect %>
<%# <p>Session is empty?: </p><%= session[:cart].empty? %>
<%# <p>Load @cart_contents: </p><% @cart_contents = Product.find(session[:cart].keys) %>
<%# <p>@cart_contents is empty?: </p><%= @cart_contents.empty? %>
<%# <p>Inspect @cart_contents: </p><%= Product.find(session[:cart].keys).inspect %>


<%# display cart contents %>
<% unless @cart_contents.empty?%>
  <%= link_to "Checkout", checkout_path %>
  <%# button_to "Checkout", checkout_path, method: :post %>
  <%# button_to "Clear Cart", clear_cart_path, method: :delete %>
  <%# button_to "Clear Cart", clear_cart_path, method: :post %>
  <%= link_to "Clear Cart", clear_cart_path %>

<% end %>
<%= render "cart_contents"%>

<%# render @products %>
<%= render partial: 'product',
            collection: @products,
            locals: {show_page: false} %>

<nav class="pagination">
  <p>
    <%= paginate @products %>
  </p>
</nav>