<h1 class="title is-3">Products Collection</h1>

<%# category filter %>
<div class="block">
  <p>Filter products by category:</p>
  <%= select_tag :category, options_from_collection_for_select(Category.all, 'id', 'name') %>
  <%# select_tag :category, options_from_collection_for_select(Category.all, 'name', 'name'), :onChange => filter_by_category() %>
  <nav class="navbar">
    <% Category.all.each do |c| %>
      <%= link_to c.name, "#", :class=>"navbar-item" %>
    <% end %>
  </nav>
</div>

<%# search form %>
<div class="block">
    <p>Search products:</p>
    <%= render "searchform" %>
</div>

<%# display cart contents %>
<div class="block">
  <% if @cart_contents.empty?%>
    <p>No items in cart.</p>
  <% else %>
    <h3>Shopping Cart:</h3>
    <ul>
      <% @cart_contents.each do |p| %>
        <li> <%= p.name %> - <%= number_to_currency p.price.to_i/100.0 %> each</li>
      <% end %>
    </ul>
    <%# button_to "Checkout", "#" %>
  <% end %>
</div>

<%# debugging %>
<div class="block">
  <%# <%=debug session[:visit_count]%>
  <h3>Debug session[:cart]</h3>
  <%=debug session[:cart]%>
  <h3>Debug params</h3>
  <%= params %>
</div>


<%= render @products %>

<nav class="pagination">
  <p>
    <%= paginate @products %>
  </p>
</nav>