<h1 class="title is-4">Search Results</h1>

<%# params %>

<div class="block">
  <%# invalid search %>
  <% if params[:query].blank? && params[:category].blank? && params[:filter].blank? %>
    <p>Please try a valid search.</p>

  <%# filter by category %>
  <% elsif params[:commit] == "Filter"%>
      <p>Displaying <span class="tag is-link is-light is-rounded"><%= Category.find(params[:category].to_i).name %></span> products.</p>

  <%# keyword search %>
  <% elsif params[:commit] == "Search"%>
    <p>You searched for '<%= params[:query] %>'.</p>
      <% unless params[:category].blank? %>
        <p>Search filtered by category: <span class="tag is-link is-light is-rounded"><%= Category.find(params[:category].to_i).name %></span></p>
      <% end %>

  <%# new/sale/updated filter %>
  <% elsif params[:filter].blank? == false %>
    <p class="title is-5"><%= @filter_heading %></p>
    <p class="title is-6"><%= @filter_tagline %></p>
  <% end %>

  <% if @products.nil? || @products.empty? %>
    <p>No products found.</p>
  <% else %>
    <p><%= pluralize(@products.size, "result")%> found.</p>

    <%= link_to "Back", products_index_path %>

    <div class="columns is-multiline">
      <%# render @products %>
      <%= render partial: 'product',
                  collection: @products,
                  locals: {show_page: false} %>
    </div>
  <% end %>

  <%= link_to "Back", products_index_path %>
</div>


