<h1 class="title is-4">Search Results</h1>

<div class="block">
  <h3>Debug GET[]</h3>
  <p><%= params %></p>
  <pre><%# @products.inspect %></pre>
</div>

<div class="block">
  <%# invalid search %>
  <% if params[:query].blank? && params[:category].blank?%>
    <p>Please try a valid search.</p>

    <%# filter by category %>
  <% elsif params[:commit] == "Filter"%>
      <p>Displaying products in the category: <%= Category.find(params[:category].to_i).name %></p>

  <%# keyword search %>
  <% elsif params[:commit] == "Search"%>
    <p>You searched for '<%= params[:query] %>'.</p>
      <% unless params[:category].blank? %>
        <p>Search filtered by category: <%= Category.find(params[:category].to_i).name %></p>
      <% end %>

  <% end %>


  <% if @products.empty?%>
    <p>No products found.</p>
  <% else %>
    <p><%= pluralize(@products.size, "result")%> found.</p>

    <%= link_to "Back", products_index_path %>

    <div class="columns is-multiline">
      <%# render @products %>
      <%= render partial: 'product',
                  collection: @products,
                  locals: {show_page: false} %>
    </div>
  <% end %>

  <%= link_to "Back", products_index_path %>
</div>


