


<h1 class="title is-3">Customers Collection</h1>

  <% @customers.each do |c|%>
    <div class="block">
      <h2 class="title is-5"><%= c.name %></h2>
      <p>username: <%= c.username %></p>
      <p>password: <%= c.password %></p>
      <p><%= c.salt %></p>
      <p>province: <%= c.province.name %></p>
    </div>
  <% end %>
