<div id="hero">
    <p>crust <span>&</span> crumb</p>
</div>

<nav class="navbar is-primary">
  <%= link_to "Home", root_path, :class=>"navbar-item" %>
  <%= link_to "About", about_path, :class=>"navbar-item" %>
  <%= link_to "Contact Us", contact_path, :class=>"navbar-item" %>
  <%= link_to "Admin", admin_root_path, :class=>"navbar-item" %>
  <% if session[:cart].present? %>
    <%= link_to "Checkout[#{session[:cart].size}]", checkout_path, :class=>"navbar-item" %>
  <% end %>
  <%= link_to "Login", login_path, :class=>"navbar-item" %>
  <%= link_to "Create Account", new_customer_path, :class=>"navbar-item" %>
</nav>
<nav class="navbar is-warning">
    <%= link_to "Products Collection", products_path, :class=>"navbar-item" %>
    <%= link_to "Categories Collection", categories_path, :class=>"navbar-item" %>
    <%= link_to "Provinces Collection", provinces_path, :class=>"navbar-item" %>
    <%= link_to "Customers Collection", customers_path, :class=>"navbar-item" %>
    <%= link_to "Orders Collection", orders_path, :class=>"navbar-item" %>
</nav>

  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul class="navbar-item">
      <li><%= link_to params[:controller].capitalize, "#{params[:controller]}" %> </li>
      <li><%= link_to params[:action].capitalize, "#{params[:controller]}##{params[:action]}" %> </li>
      <% unless params[:id].nil? %>
        <li><%= link_to params[:id].capitalize, "#{params[:controller]}##{params[:action]}/#{params[:id]}" %> </li>
      <% end %>
    </ul>
  </nav>


